@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');



:root {
    /* collors ->  rimary, secondary, tertiary, quaternary, quinary, 
    senary, septenary, octonary, nonary, and denary*/
    --main-color: #201F21;
    --secondary-color: #fff;
    --tertiary-color: #DF00FF;
    --qaternary-color: "position"=absolut;
}

body {
   /* overflow-x: hidden;*/
    background-color: var(--main-color);
}




/*Navbar*/
nav {
    height: 6rem;
    width: 100vw;
    background-color: var(--main-color);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li a:hover {
    color: var(--tertiary-color);
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--tertiary-color);
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: var(--secondary-color);
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
      
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: var(--main-color);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}




.ball {
    animation: float 3.5s ease-in-out infinite;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 75% 30%, white 5px,
            #3b0955 8%, #700e77 60%, #a810bf 100%);
    box-shadow: inset 0 0 20px #3b0955  inset 10px 0 46px #3b0955 , inset 88px 0px 60px #a810bf, inset -20px -60px 100px #fde9ea, inset 0 50px 140px #fde9ea, inset 0 0 90px #fff;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-80px);
    }

    100% {
        transform: translatey(0px);
    }
}

.shadow {
    background: #DB9EDF;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
}

@keyframes expand {

    0%,
    100% {
        transform: scale(0.5);
    }

    50% {

        transform: scale(1);
    }
}

.content-main{
    padding-right: 10%;
    text-align: center;
    font-family: 'Moon Dance', cursive;
    font-size: 4em;
    color: var(--secondary-color);
    font-weight: 900;
    font-stretch: expanded;
    transform: rotate(-13deg)
}






.main-header {
  
   padding: 17%;
}
.main-header-row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    
}





/* footer */
footer {
    position: absolute;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 30px 0;
    margin-top: 10%;
    font-family: 'Montserrat', monospace;
    font-weight: bold;

    position: absolute;
    bottom: 0;


}

.footer-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-col-md-4 {
    flex: 0 0 33%;
    max-width: 33%;
    text-align: center;
}

h3 {
    margin-bottom: 15px;
    color: var(--tertiary-color);
    ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.footer-social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social-icons li a {
    color: var(--secondary-color);
    font-size: 30px;
}

@media (max-width: 991px) {
    .footer-col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .footer-col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

}